// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$lightgray: #F7F7F7;
$white: #FFFFFF;

$primary-font: "sofia-pro-soft";

$primary-color: #4A90E2;
$turqoise: #50E3C2;
$font-lightgray: #B2B2B2;

$device-sm: 30em;
$device-md: 50em;
$device-lg: 72em;
$column-gutter: 0.5rem;

$margin-top: 1em;

$transition-easing: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$transition-timing: 0.4s;

$border-radius: 4px;
$card-border: 0.5px solid #e8e8e8;

$small-padding: .5em 1em;
$medium-padding: 1.5em;
$large-padding: 2em;


@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}
 

@mixin setBgColorAndHover($baseColor) {
    background-color: $baseColor;
    &:hover {
      background-color: darken($baseColor, 2.5%);
      cursor:pointer;
    }
}

.flex {
	display:flex;
}

*, *:after, *:before {
  box-sizing: border-box; 
}

::-webkit-scrollbar { 
    display: none; 
}

body, html {
	height:100%;
	background: $lightgray;
	font-family: $primary-font,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

select {
	cursor: pointer;
	width:100%;
	height:3em;
	font-family: $primary-font;
    padding: $small-padding;
    border-radius: $border-radius;
    background: $white;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include setBgColorAndHover($white);
}

.info-text {
	text-align:center;
	font-size:1em;
	margin: 2em;
	color:$font-lightgray;

	span {
		color:#000;
	}
}

.emoji-icon {
	margin-right:$margin-top;
}


@keyframes rotate {
  0%    { transform:rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


.lead-button {
	width:auto;
	font-weight:700;
	font-size:1.3em;
	font-family: $primary-font;
    border-radius: $border-radius;
    color:$white;
	outline: none;
    appearance: none;
    position:relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-shadow:none;
	border:none;
	box-shadow:none;

	display:flex;
	justify-content:center;

	  &:before{
	    content:'';
	    position:absolute;
	    right:1em;
	    top:50%;
	    margin-top:-9px;
	    width:20px;
	    height:20px;
	    border: 4px solid;
	    border-left-color: transparent;
	    border-radius: 50%;
	    opacity:0;
	    transition-duration:.5s;
	    transition-property:opacity;
	    animation-duration: 0.4s;
	    animation-iteration-count: infinite;;
	    animation-name:rotate;
	    animation-timing-function:linear;
	  }

	  &:after{
	    content:'';
	    display:inline-block;
	    height:100%;
	    width:0px;
	    transition-delay:.2s;
	    transition-duration:.3s;
	    transition-property:width;
	  }
  
	  &.loading{
	    pointer-events: none;
	    cursor: not-allowed;
	    &:not(.expand){
	     text-align: left;  
	    }
	    &:before{
	      transition-delay:.5s;
	      transition-duration:0.4s;
	      opacity:1;
	    }
	    &:after{
	      transition-delay:0s;
	      width:20px;
	    }
	  }

	&.image-button {
		height:30px;
		width:30px;
		justify-content: center;
		align-items:center;
		display:flex;

		svg {
			height:15px;
			width:15px;
		}
	}

	&.fixed-button-right {
		position:absolute;
		top:0;
		right:1em;
	}

	&.fixed-button-left {
		position:absolute;
		top:0;
		left:1em;
	}

	&.primary {
		@include setBgColorAndHover($turqoise);
	}

	&.large {

	}

	&.medium {
		height:2.5em;
		padding: 0em $medium-padding;
	}

	&.small {
		padding: $small-padding;
		font-size:0.9em;
	}

	&.small {
		padding: $small-padding;
		font-size:1.2em;
	}

	&.secondary {
		@include setBgColorAndHover(lightgray);
	}

	&.block-button {
		width:100%;
	}

	&:hover {
		border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
}

.lead-card {
	display:flex;
	position:relative;
	justify-content: center;
	text-align: center;
	align-items:center;
	flex-direction:column;
	border-radius: $border-radius;
	border: $card-border;
	background:$white;
	padding:$medium-padding;
	transition:box-shadow 0.2s;

	form {
		width:100%;

		margin-top:$margin-top;

		input {
			width:100%;
			height:40px;
			padding:$small-padding;
			border:none;
			outline: none;
			color:gray;
			border-radius:$border-radius;
			background-color:$lightgray;
			margin-top:$margin-top;
		}
	}

	.info-text {
		margin: 0.2em;
	}

	h3 {
		margin: 0.2em 0em 0em 0em;
	}
	.lead-button {
		margin-top:$margin-top;
	}

	.lead-status-container {
		background-color:$lightgray;
		width:100%;
		display:flex;
		height:40px;
		margin-top: $margin-top;
		border-radius: $border-radius;
	}

}

.main-container {

	min-height:100%;


	.lead-detail {
		z-index:999;
		max-height:100vh;
		min-height: 100vh;
		position:fixed;
		top:0;
		right:0;
		opacity:1;
		padding:$large-padding;
		background:$white;
		overflow-y:scroll;
		width:450px;
		transform: translateX(450px);
		transition:transform $transition-timing $transition-easing;

		&.open {
			transform: translateX(0px);
		}

		.map-view {
			 border-radius:$border-radius; 
			 overflow:hidden;
			 position:relative;
			 height:150px;
			 margin-bottom:$margin-top;
		}

		.lead-activity {
			display:flex;
			flex-direction: column;
			align-items:flex-end;
			
			.lead-activity-block {
				height:65px;
				color:$white;
				padding:$large-padding;
				margin-top:$margin-top;
				background-color:$primary-color;
				border-radius: $border-radius;
				display:flex;
				flex-direction:row;
				justify-content: flex-end;
				align-items:center;

				span {
					margin-left:0.5em;
					font-size:1.2em;
				}
			}
		}
	}
	
	.lead-drawer {
		z-index:999;
		max-height:100vh;
		min-height: 100vh;
		position:fixed;
		top:0;
		left:0;
		opacity:1;
		padding:$large-padding;
		background:$white;
		overflow-y:scroll;
		width:450px;
		transform: translateX(-450px);
		transition:transform $transition-timing $transition-easing;

		&.open {
			transform: translateX(0px);
		}

		.small-button {
			
		}

		.lead-search-header {

			padding:$medium-padding;
			background:$primary-color;
			border-radius:$border-radius;

			select {
				margin-top:$margin-top;

				&:first-child {
					margin-top:0;
				}
			}

			.lead-button {
				margin-top:$margin-top;
			}

		}

		.lead-card {
			margin:2em auto;
			&:hover {
				@include box_shadow(4);
				cursor:pointer;
			}

		}
	}

}

.container {
  margin: 0 auto;
  padding: $column-gutter*2;


	.overlay {

		height:100%;
		width:100%;
		background-color:#000;
		position:fixed;
		z-index:1;
		left:0;
		top:0;
		opacity:0;
		pointer-events:none;
		transition:opacity 0.2s;


		&.open {
			opacity:0.65;
			pointer-events:inherit;
		}
		

	}

  .main-header {
  	padding: $small-padding;

  	.lead-search {
			border-radius:50%;
			height:50px;
			width:50px;
			display:flex;
			flex-direction: column;
			align-items:center;
			justify-content: center;
			text-align:center;

			@include setBgColorAndHover($turqoise);

			svg {
				height:20px;
				width:20px;
			}
		}

		h3 {
			margin:0em $margin-top 0em 0em;
			font-weight:400;
		}

		.user-image {
			height:40px;
			width:40px;
			border-radius:$border-radius;
			background-color:$primary-color;
		}
  }	

  .lead-header {
  	padding:$small-padding;
  	display:inline-flex;
  	width:100%;
  	justify-content: flex-start;

  		.lead-filter-wrapper {
  			padding:0.5em;
  			display:flex;
  			max-width:130px;

  			.lead-filter {
  				height:160px;
	  			flex:1;
	  			display:flex;
	  			flex-direction: column;
	  			align-items:center;
	  			justify-content: center;
	  			text-align:center;
	  			margin-top:$margin-top;
	  			background-color:$primary-color;
	  			border-radius:$border-radius;
	  			color:$white;
	  			@include setBgColorAndHover($primary-color);

	  			.info-text {
	  				margin: 0.5em;
	  				color:$white;
	  			}

	  			h2 {
	  				font-size:3.5em;
	  				margin:0em;
	  			}
  			}

  		}
  }

  .lead-card {
  	margin:0.75em auto;
  	&:hover {
		@include box_shadow(2);
		cursor:pointer;
	}
  }

  //max-width: $device-lg;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

.align-middle {
    align-items: center;
}

.align-bottom {
    align-items: flex-end;
}

.align-left {
    justify-content: flex-start;
	}
.align-center {
    justify-content: center;
	}
.align-right {
    justify-content: flex-end;
	}
.align-auto {
    justify-content: space-around;
	}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-right: -($column-gutter/2);
  margin-left: -($column-gutter/2);
}

[class*="col"] {
  width: 100%;
  padding: 0 $column-gutter*2;
}

@mixin col-size($col) {
  flex-basis: (100% * $col / 12);
  max-width: (100% * $col / 12);
}

@each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
  .col-xs-#{$col} {
    @include col-size($col);
   }

@media (min-width: #{$device-sm}) {
  html, body {
    font-size: 12px;
   }
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
    .col-sm-#{$col} {
      @include col-size($col);
    }
   }
}
@media (min-width: #{$device-md}) {
  html, body {
    font-size: 14px;
  }
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
    .col-md-#{$col}{
      @include col-size($col);
    }
    }
}
@media (min-width: #{$device-lg}) {
  @each $col in (1,2,3,4,5,6,7,8,9,10,11,12) {
    .col-lg-#{$col}{
      @include col-size($col);
    }
  }
}
}



