// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
$lightgray: #F7F7F7;
$white: #FFFFFF;

$primary-font: "sofia-pro-soft";

$primary-color: #4A90E2;
$turqoise: #50E3C2;
$font-lightgray: #B2B2B2;

$margin-top: 1em;

$transition-easing: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$transition-timing: 0.4s;

$border-radius: 4px;
$card-border: 0.5px solid #e8e8e8;

$small-padding: .5em 1em;
$medium-padding: 1.5em;
$large-padding: 2em;

@mixin box_shadow ($level) {

    @if $level == 1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    } @else if $level == 2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    } @else if $level == 3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    } @else if $level == 4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    } @else if $level == 5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

}
 

@mixin setBgColorAndHover($baseColor) {
    background-color: $baseColor;
    &:hover {
      background-color: darken($baseColor, 2.5%);
    }
}

*, *:after, *:before {
  box-sizing: border-box; 
}

::-webkit-scrollbar { 
    display: none; 
}

body, html {
	height:100%;
	background: $lightgray;
	font-family: $primary-font,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
		&:hover {
		.lead-drawer {
			transform:translateX(0px);
		}
	}
}

select {
	cursor: pointer;
	width:100%;
	height:3em;
	font-family: $primary-font;
    padding: $small-padding;
    border-radius: $border-radius;
    background: $white;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include setBgColorAndHover($white);
}

.info-text {
	text-align:center;
	font-size:1em;
	margin: 2em;
	color:$font-lightgray;

	span {
		color:#000;
	}

}

.lead-button {
	height:2.5em;
	width:auto;
	font-weight:700;
	font-size:1.3em;
	font-family: $primary-font;
    border-radius: $border-radius;
    padding: 0em $medium-padding;
    color:$white;
	outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-shadow:none;
	border:none;
	box-shadow:none;

	&.primary {
		@include setBgColorAndHover($turqoise);
	}

	&.secondary {
		@include setBgColorAndHover(lightgray);
	}

	&.block-button {
		width:100%;
	}

	&:hover {
		border-bottom: 2px solid rgba(0, 0, 0, 0.15);
		cursor: pointer;
	}
}

.main-container {

	min-height:100%;
	display:flex;
	justify-content:center;
	align-items:center;

	.lead-drawer {
		max-height:100vh;
		min-height: 100vh;
		position:fixed;
		top:0;
		left:0;
		padding:$large-padding;
		background:$white;
		overflow-y:scroll;
		width:450px;
		//transform: translateX(-450px);
		transition:transform $transition-timing $transition-easing;

		.lead-search-header {

			padding:$medium-padding;
			background:$primary-color;
			border-radius:$border-radius;

			select {
				margin-top:$margin-top;

				&:first-child {
					margin-top:0;
				}
			}

			.lead-button {
				margin-top:$margin-top;
			}


		}

		.lead-card {
			margin:2em auto;
			display:flex;
			justify-content: center;
			text-align: center;
			align-items:center;
			flex-direction:column;
			border-radius: $border-radius;
			border: $card-border;
			width:100%;
			background:$white;
			padding:$medium-padding;
			transition:box-shadow 0.2s;
			
			&:hover {

				@include box_shadow(2);
				cursor:pointer;
			}

			.info-text {
				margin: 0.2em;
			}

			h3 {
				margin: 0.2em 0em 0em 0em;
			}
			.lead-button {
				margin-top:$margin-top;
			}

		}
	}

}




